.articleListClass h4{
	margin-top: 5px;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 5px;
}

.articleListClass footer{
	margin-left: 7px;
	font-size: 95%;
	margin-bottom: 1px;
}

.articleListClass .section {
	border-radius: 15px;
}

img {
	width: 100%;
	margin-bottom: -6px;
	height: auto;
}

.articleViewClass p{
	margin-top: 5px;
	margin-left: 7px;
	margin-right: 7px;
	font-size: 110%;
}

.articleViewClass footer{
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 5px;
	margin-bottom: 3px;
	font-size: 105%;
}

.articleViewClass h4{
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 7px;
	margin-right: 7px;
}

.app-section.active {

	border: 3px solid #AAA;
	margin-bottom: -3px;
	margin-top: -3px;

}

.app-section.active:first-child{
	margin-top: 5px;
}

.app-android .app-topbar .app-button.left {
	padding: 0;
	height: 100%;
	width: 33%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAMAAABf788oAAAAjVBMVEUiIiIjIyMrKysqKioAAACdnZ0mJiYnJyednZ0kJCQoKCgsLCwlJSXLy8vPz8/MzMzJycnNzc3Ozs7GxsagoKCjo6O3t7exsbHIyMisrKzAwMDExMS+vr6ysrLHx8fKysq0tLStra27u7urq6unp6fBwcGoqKjDw8Ourq66urq9vb2fn5/FxcWwsLClpaWY7qkYAAAADXRSTlMAAAAAADMAAJkAAAAAOhxptwAAAMVJREFUeF5d0dVuBTEMBNCZvUWY0OLFMsP/f15lxWqb5i1HijO2cYR6zndKKfWDA7EuksIeFcjVNkv5uaMDPoOkco8KxNkhSmVHwmEKkjSiAjFeW8UJhMNdkOLh2IF4yFbxBYQBebopUtmcsIJnil8gYIBVn6XwCsJhDlJOww8Mi2Xa290hGcy/gJt/T9D1sSlK3IbmW/LisQkG4qmJDhBvxZtzwKim/WZADu9LM0LQGpLKGnRg92Fr2F7y76KiL6qeK1/lN9FpDuyoOMUMAAAAAElFTkSuQmCC);
	background-position: 8px center;
	background-repeat: no-repeat;
	-webkit-background-size: 8px 14px;
	background-size: 8px 14px;
	color: transparent;
}

.app-content{
	background-color: #D3D3D3;
}

.wrapper {
	height: 100%;
}